// Colores
$color-principal: #30C0B1;
$color-secundario: white;
$color-base: #1B2631;
$color-hover-principal: #00796b;
$color-texto-blanco: white;
$color-texto-negro: black;
$color-bordes: #ddd;
$color-azul: #007bff;
$color-morado:  #5B42A8;
$color-hover-boton:  #0056b3;


// Espaciados
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 30px;

// Tipografía
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-family: 'Quicksand', sans-serif;

// Media query
$mobile-breakpoint: 480px;

// Otros
$input-width-mobile: 200px;
